
{% extends '@base/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <p>Area</p>
        </div>
    </div>
    <hr style="margin-top: 1px">
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

