
{% extends '@base/base.html.twig' %}

{% block main %}

    <div class="row">
        <div class="col-lg-2">
            <div class="bs-component">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li class="disabled"><a href="#">Disabled</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr style="margin-top: 1px">
    <div class="row">
        <div class="col-lg-4">
            <p>Area</p>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

